<div class="flex gap-40 text-gray-500 my-10">
    <div class="flex font-bold">
        <p class="text-gray-900">Threads</p>
    </div>
    <div class="flex flex-col">
        <p>Explore</p>
        <p>Pricing</p>
        <p>Mobile</p>
    </div>
    <div class="flex">
        <div class="flex flex-col">
        <p>Resources</p>
        <p>Blog</p>
        </div>
    </div>
    <div class="flex">
        <div class="flex flex-col">
        <p>Company</p>
        <p>About us</p>
        <p>Contact</p>
        </div>
    </div>



</div>