<div class="flex bg-orange-50">
    <div class="flex flex-col">
        <div class="flex gap-20 my-5">
            <p class="font-medium text-3xl text-gray-500 cursor-pointer">Marketing</p>
            <p class="text-white bg-violet-500 rounded-full px-4 py-1 cursor-pointer">Start a Thread</p>
        </div>
        <div class="flex gap-2 my-10">
            <p class="text-white bg-orange-500 w-8 h-8 rounded-full flex items-center justify-center">1 </p>
            <p class="my-1 font-semibold text-gray-500 cursor-pointer">Unread Notifications</p>
            <p class="bg-white rounded-full shadow px-4 mx-16 my-1 cursor-pointer">Dismiss all</p>
        </div>
        <div class="flex  bg-white items-center px-4 py-3">
            <img src="assets/rashh.png"
                class="w-9 h-9 mt-1 border border-gray-200 rounded-full flex items-center justify-center">
            <div class="flex flex-col">
                <p class="font-bold text-gray-500">Rosario</p>
                <p class="font-light text-gray-500">just now</p>
            </div>
            <div class="flex flex-col">
                <p class="font-bold text-3xl text-gray-500 mx-20">Showcasing Customer...</p>
                <p class=" mx-20 font-light text-gray-500">Our customer have continued to
                    send in pictures of their finished
                    artwork...</p>
            </div>

        </div>
        <div class="flex my-10">
            <p class="my-1 font-semibold text-gray-500 cursor-pointer">Recent</p>
            <p class="bg-white rounded-full shadow px-4 my-1 mx-52 cursor-pointer">Unread</p>
        </div>
        <div class="flex  bg-white px-4 py-3">
            <img src="assets/jahnn.png"
                class="w-9 h-9 border border-gray-200 rounded-full flex items-center justify-center">
            <div class="flex flex-col">
                <p class="font-bold text-gray-500">Dan</p>
                <p class="font-light text-gray-500">2 hrs ago</p>
            </div>
            <div class="flex flex-col">
                <p class="font-bold text-3xl text-gray-500 mx-16">Thoughts on attendin...</p>
                <p class=" mx-16 font-light text-gray-500">Autumn is coming up in a month and I
                    highly recommend we think about...</p>
            </div>
        </div>
    </div>
    <div class="flex flex-col ">
        <div class="flex flex-col my-5">
            <p class="text-lg font-bold text-gray-500">Create a space</p>
            <p>This is your team's virtual meeting room. Once created, invite others and start your discussion - no
                scheduling required.</p>
        </div>
        <div class="flex flex-col my-8 font-extralight">
            <p class="text-lg font-bold text-gray-500">Create a space</p>
            <p>This is your team's virtual meeting room. Once created, invite others and start your discussion - no
                scheduling required.</p>
        </div>
        <div class="flex flex-col my-8 font-extralight">
            <p class="text-lg font-bold text-gray-500">Create a space</p>
            <p>This is your team's virtual meeting room. Once created, invite others and start your discussion - no
                scheduling required.</p>
        </div>
    </div>
</div>

