<div class="flex my-10">    
    <div class="flex text-xs text-gray-500">
        <div class="flex flex-col">
            <p> Bitwise is a technology or IT-related company, the term "bitwise" is commonly associated with operations at the bit level in computer programming, which involves manipulating data at the binary level.</p>
            </div>
            <div class="flex flex-col">
                <p> Bitwise is a technology or IT-related company, the term "bitwise" is commonly associated with operations at the bit level in computer programming, which involves manipulating data at the binary level.</p>
                </div>
                <div class="flex flex-col">
                    <p> Bitwise is a technology or IT-related company, the term "bitwise" is commonly associated with operations at the bit level in computer programming, which involves manipulating data at the binary level.</p>
                    </div>       
    </div>
</div>